.Tabs, .TabsAlternate {
  border-radius: 20px;
  overflow-x: hidden;
  display: flex;
  width: fit-content;
  max-width: 100%;
  border: 1px solid #24364f;
  background-color: #19283D;
}

.TabsAlternate {
  border: 1px solid #71EEFF;
  border-radius: 7px;
}

.Tabs .Tabs__item,
.Tabs .Tabs__item_active,
.TabsAlternate .TabsAlternate__item,
.TabsAlternate .TabsAlternate__item_active {
  background-color: transparent;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  border: none;
  transition: 0.2s ease-in-out;
  outline: none;
  white-space: nowrap;
}

.Tabs .Tabs__item,
.Tabs .Tabs__item_active {
  color: #778fba;
  border-right: 1px solid #24364f;
  padding: 12px 48px;
}

.TabsAlternate .TabsAlternate__item,
.TabsAlternate .TabsAlternate__item_active {
  padding: 2px 28px;
  border-right: 1px solid #71EEFF;
}

.TabsAlternate .TabsAlternate__item {
  color: #71EEFF;
}

.TabsAlternate .TabsAlternate__item_active {
  color: #24364F;
  background: #71EEFF;
}

.Tabs .Tabs__item:last-child,
.Tabs .Tabs__item_active:last-child,
.TabsAlternate .TabsAlternate__item:last-child,
.TabsAlternate .TabsAlternate__item_active:last-child {
  border-right: none;
}

.Tabs .Tabs__item_active,
.TabsAlternate .TabsAlternate__item_active {
  border-right-color: transparent;
}

.Tabs .Tabs__item_active {
  background: #24364f;
  color: #eaf4fb;
}

@media (max-width: 991px) {
  .TabsAlternate .TabsAlternate__item,
  .TabsAlternate .TabsAlternate__item_active {
    padding: 0 20px;
  }

  .Tabs .Tabs__item,
  .Tabs .Tabs__item_active {
    font-size: 20px;
    padding: 12px 42px;
  }

  .Tabs_secondary {
    border: none;
    border-radius: 0;
    grid-column-gap: 36px;
  }

  .Tabs_secondary .Tabs__item,
  .Tabs_secondary .Tabs__item_active {
    color: #778FBA;
    border: none;
    padding: 0 0 12px 0;
    background: transparent;
    border-bottom: 3px solid transparent;
  }

  .Tabs_secondary .Tabs__item_active {
    background: transparent;
    color: #eaf4fb;
    border-bottom: 3px solid #71EEFF;
  }
}

@media (max-width: 720px) {
  .Tabs, .TabsAlternate {
    overflow-x: scroll;
  }
}
