.Product, .Product_minimize {
  width: 100%;
  height: 100%;
  background: #24364F;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.Product_minimize {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.Product_minimize .Product__header {
  height: 100%;
  width: 290px;
}

.Product__header {
  height: 230px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.Product__header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Product__main {
  padding: 24px;
}

.Product__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product__label h4 {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}

.Product__label h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #778FBA;
  margin: 0;
  padding: 0;
}

.Product__label button {
  font-size: 24px;
  color: #778FBA;
  border: none;
  background: transparent;
}

.Product__price {
  margin-top: 20px;
}

.Product__price span:first-child {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  margin-right: 20px;
}

.Product__price span:last-child {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #71EEFF;
}

.Product_minimize .Product__footer {
  flex-direction: column;
}

.Product__footer {
  padding: 24px;
  background: #2A3E5B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Product__footer svg {
  font-size: 18px;
}

.Product__footer span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #EAF4FB;
  margin-left: 4px;
}

.Product__id {
  display: flex;
  align-items: center;
}

.Product__id button {
  font-size: 18px;
  color: #778FBA;
  background: transparent;
  border: none;
  margin-right: 8px;
}

.Product__id span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #778FBA;
}

@media (max-width: 1400px) {
  .Product__main {
    padding: 16px;
  }

  .Product__footer {
    padding: 16px;
  }

  .Product .Product__footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Product .Product__footer span {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .Product, .Product_minimize {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .Product .Product__header, .Product_minimize .Product__header {
    height: 100%;
    width: 200px;
  }

  .Product_minimize .Product__footer, .Product .Product__footer {
    flex-direction: column;
  }

  .Product .Product__footer div {
    display: block;
  }

  .Product .Product__footer span {
    margin-left: 4px;
  }

  .Product .Product__price, .Product_minimize .Product__price {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .Product {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .Product .Product__header {
    height: auto;
    width: 100%;
  }

  .Product__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
