.Nanomachine {
  margin-top: 36px;
}

.Nanomachine__label {
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
  color: #71EEFF;
  margin: 0 auto 12px auto;
  display: block;
}

.Nanomachine__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Nanomachine__outputs {
  display: grid;
  grid-row-gap: 40px;
}

.Nanomachine__stake {
  display: grid;
  grid-row-gap: 30px;
}

@media (max-width: 1200px) {
  .Nanomachine__main {
    grid-column-gap: 30px;
  }

  .Nanomachine__stake {
    display: grid;
    grid-row-gap: 30px;
  }
}

@media (max-width: 991px) {
  .Nanomachine__main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .Nanomachine {
    margin-top: 16px;
  }
}
