.Manufacturing {

}

.Manufacturing__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Manufacturing__header h2 {
  text-align: left;
  display: flex;
  align-items: center;
}

.Manufacturing__header h2::before {
  content: '';
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: rgb(172, 72, 50);
  background: radial-gradient(circle, rgba(172, 72, 50, 1) 40%, rgba(25, 40, 61, 1) 40%);
  border: 1px solid #AC4832;
  box-sizing: border-box;
  margin-right: 16px;
}

.Manufacturing__header h2 span {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #24364F;
  width: 36px;
  height: 36px;
  background: #71EEFF;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.Manufacturing__plants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.Manufacturing__buttons {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
}

.Manufacturing__button {
  text-align: center;
  margin-top: 36px;
}

.Manufacturing__button button {
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #71EEFF;
}

@media (max-width: 1400px) {
  .Manufacturing__header h2::before {
    display: none;
  }

  .Manufacturing__header h2 span {
    display: none;
  }

  .Manufacturing__buttons {
    flex-direction: column-reverse;
    align-items: flex-end;
    grid-column-gap: 0;
    grid-row-gap: 16px;
    margin: 12px 0;
  }
}

@media (max-width: 1200px) {
  .Manufacturing > div {
    overflow-x: scroll;
  }
}


@media (max-width: 992px) {
  .Manufacturing__table {
    width: calc(100% - 40px);
    margin: 20px;
  }

  .Manufacturing__header h2::before {
    display: none;
  }

  .Manufacturing__plants {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .Manufacturing__table {
    width: calc(100% - 20px);
    margin: 10px;
  }

  .Manufacturing__plants {
    grid-template-columns: 1fr;
  }
}
