.Facility {
}

.Facility__container {
  padding: 40px 40px 80px 40px;
  width: 100%;
}

.Facility__header {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 20px;
  align-items: center;
  margin-bottom: 24px;
}

.Facility__header img {
  height: 64px;
}

.Facility__header span {
  background: rgba(113, 238, 255, 0.2);
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #71EEFF;
}

.Facility__stakes {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
