.minMaxSlider input[type="range"] {
  --minRangePercent: 0%;
  --maxRangePercent: 0%;
  --sx: 24px;
  height: .4rem;
}
.minMaxSlider input[type="range"]:invalid {
  box-shadow: none;
}

.minMaxSlider input[type="range"]::-webkit-slider-thumb {

}

.minMaxSlider {
  position: relative;
  width: 200px;
  text-align: center;
  margin-bottom: 50px;
}

.minMaxSlider:focus {
  oultine: none;
}

input:focus {
  outline: none;
}

.minMaxSlider > label {
  display: none;
}

.minMaxSlider > input {
  cursor: pointer;
  position: absolute;
}

/* webkit specific styling */
.minMaxSlider > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none !important;
  background: transparent;
}
.minMaxSlider > input.min {
  background-image: linear-gradient(
    to right,
    silver 0%,
    silver var(--minRangePercent),
    orange var(--minRangePercent),
    orange 100%
  );
}

.minMaxSlider > input.max {
  background-image: linear-gradient(
    to right,
    orange 0%,
    orange var(--maxRangePercent),
    silver var(--maxRangePercent),
    silver 100%
  );
}

.minMaxSlider > input::-webkit-slider-runnable-track,
.minMaxSlider > input::-moz-range-track,
.minMaxSlider > input::-ms-track {
  box-sizing: border-box;
  border: none;
  height: 4px;
  background: orange;
  border-radius: 8px;
  height: 10px;
  background-color: transparent;
  background-image: linear-gradient(orange, orange),
  linear-gradient(orange, orange);
  background-size: var(--sx) 10px, calc(100% - var(--sx)) 4px;
  background-position: left center, right center;
  background-repeat: no-repeat;
}

.minMaxSlider > input:focus {
  outline: none;
}

.minMaxSlider > input.max::-moz-range-progress {
  background: orange;
  border-radius: 4px;
}

.minMaxSlider > input.min::-moz-range-progress {
  height: 0.6em;
  background: silver;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none; /* Override default look */
  -moz-appearance: none;
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: orange; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: none;
  border: 1px solid orange;
  border-radius: 50%;
  /* box-shadow: -205px 0 0 200px hsl(100, 100%, 40%); */
}

.minMaxSlider > input::-webkit-slider-runnable-track {
  cursor: pointer;
}
