.Button {
  width: 100%;
  height: 74px;
  font-family: 'Teko', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 38px;
  text-align: center;
  color: #1f304e;
  border-radius: 20px;
  border: none;
  background-color: rgba(110, 209, 223, 1);
  box-shadow: 0 10px 0 0 rgba(110, 209, 223, 0.5);
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: auto;*/
}

.Button:disabled {
  background: rgba(119, 143, 186, 0.5);
  box-shadow: 0 10px 0 0 rgba(119, 143, 186, 0.2);
  color: #778fba;
}

.Button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.ButtonSecondary {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #71EEFF;
  padding: 8px 24px;
  border: 1px solid #6ED1DF;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: auto;*/
}

.ButtonSecondary::after {
  content: '';
  display: block;
  border-radius: 0 0 10px 10px;
  border: 1px solid #6ED1DF;
  border-top: none;
  position: absolute;
  inset: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  transform: translateY(7px) translateX(-1px);
}

.ButtonSecondary:active::after {
  border-radius: 10px;
  border: 1px solid #6ED1DF;
  transform: translateY(-1px) translateX(-1px);
}

.ButtonSecondary:active {
  transform: translateY(7px);
}

.ButtonSecondary svg {
  margin-right: 8px;
}

@media (max-width: 720px) {
  .Button {
    height: 56px;
    font-size: 24px;
    border-radius: 10px;
    line-height: 24px;
    box-shadow: 0 6px 0 0 rgba(110, 209, 223, 0.5);
    padding: 0 20px;
    margin-top: 6px;
  }

  .Button:disabled {
    box-shadow: 0 6px 0 0 rgba(119, 143, 186, 0.2);
  }

  .Button:active {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  .ButtonSecondary {
    font-size: 14px;
    padding: 8px;
    border-radius: 2px;
    transform: translateY(7px);
  }

  .ButtonSecondary::after {
    display: none;
  }

  .ButtonSecondary:active {
    transform: translateY(7px);
  }

  .ButtonSecondary svg {
    display: none;
  }
}
