.Output {
  display: flex;
  flex-direction: column;
}

.Output > div {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  align-items: center;
  grid-column-gap: 20px;
}

.Output span {
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 20px;
   color: #71EEFF;
   line-height: 23px;
 }

.Output output {
  width: 100%;
  min-width: 100px;
  padding: 16px;
  font-family: Teko, sans-serif;
  font-weight: bold;
  font-size: 30px;
  background: rgba(113, 238, 255, 0.2);
  border: 1px solid #71EEFF;
  box-sizing: border-box;
  border-radius: 10px;
  color: #71EEFF;
  text-align: center;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .Output > div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
}

@media (max-width: 720px) {
  .Output > div {
    grid-column-gap: 10px;
  }

  .Output span {
    font-size: 16px;
    line-height: 16px;
  }

  .Output output {
    min-width: 80px;
    padding: 12px;
    font-size: 24px;
    margin-top: 0;
  }
}
