.DicesiumPurchase {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: flex-start;
  grid-column-gap: 30px;
}

.DicesiumPurchase__info {
  padding-top: 20px;
}

.DicesiumPurchase__info img {
  width: 110px;
  height: 110px;
}

.DicesiumPurchase__info h2 {
  text-align: left;
  margin-top: 20px;
}

.DicesiumPurchase__info p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: #90BBDA;
  margin: 30px 0;
  padding: 0;
}

.DicesiumPurchase__info span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: #71EEFF;
  margin: 0;
  padding: 0;
}

.DicesiumPurchase__text {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  margin: 0 0 40px 0;
  display: block;
}

.DicesiumPurchase__text i {
  font-family: 'Exo', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #71EEFF;
}

.DicesiumPurchase__text:last-child {
  margin: 40px auto 0 auto;
  text-align: center;
}

.DicesiumPurchase__button {
  margin-top: 56px;
}

@media (max-width: 840px) {
  .DicesiumPurchase {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    grid-column-gap: 0;
    grid-row-gap: 30px;
  }

  .DicesiumPurchase__info img {
    display: none;
  }
}
