.Statistics {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 40px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.Statistics img {
  width: 100%;
  margin-left: auto;
}

.Statistics h2 {
  text-align: left;
  margin-top: 0;
}

.Statistics__stat {
  display: grid;
  grid-row-gap: 20px;
  height: fit-content;
}

.Statistics__stat > div > div {
  display: grid;
  grid-row-gap: 20px;
}

.Statistics__stat div {
  /*height: fit-content;*/
}

.Statistics__stat img {
  margin-left: auto;
  max-width: 100px;
}

.Statistics__container {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.Statistics__row {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Statistics__stat > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.Statistics__stat h2 {
  padding: 0;
  margin: 0;
}

.Statistics__stat span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #778FBA;
  margin-bottom: 22px;
  display: block;
}

@media (max-width: 1200px) {
  .Statistics {
    grid-column-gap: 10px;
  }

  .Statistics h2 {
    margin-bottom: 0;
  }

  .Statistics__container {
    padding: 15px;
  }

  .Statistics__stat h2 {
    font-size: 38px;
  }

  .Statistics img {
    display: none;
  }

  .Statistics__stat span {
    font-size: 16px;
    line-height: 100%;
  }

  .Statistics__row {
    padding: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 840px) {
  .Statistics {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .Statistics__stat > div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }

  .Statistics__stat h2 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .Statistics {
    margin-top: 20px;
  }

  .Statistics__container {
    padding: 10px;
  }

  .Statistics__stat h2 {
    font-size: 24px;
  }

  .Statistics__stat span {
    font-size: 14px;
  }
}
