.DropDown {
  background: #19283d;
  padding: 4px;
  border-radius: 12px;
  position: absolute;
  display: grid;
  grid-row-gap: 4px;
  box-shadow: 0 2px 2px 2px rgb(0 0 0 / 10%);
  transition: 0.3s ease-in-out;
  transform: translateY(50%);
}

.DropDown__item button {
  width: 100%;
  height: 100%;
  padding: 6px 8px;
  text-align: left;
  border-radius: 12px;
  transition: 0.3s ease-in-out;
}

.DropDown__item button:hover {
  background: rgba(45, 64, 92, 0.6);
  transition: 0.3s ease-in-out;
}
