/* meta */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --tab_color: #244cc6;
}
.active-tabs {
    color: #4032e5;
}
.content {
    display: none;
}
.active-content {
    display: block;
}
