@import 'antd/dist/antd.css';

.ant-descriptions-view, .ant-descriptions-row {
  border: 4px solid white !important;
}

.ant-descriptions-item-content {
  font-weight: bold;
  font-size: 1em
}

.ant-descriptions-item-label {
  background: #E3E9F2 !important;
  border-width: 0px !important;
  font-size: 0.9em;
}

.ant-notification {
  z-index: 1000
}
